body{
    margin: 0%;
}
 /* Estilos para tornar a navbar responsiva */
 .navbar {
    overflow: hidden;
    background-image:linear-gradient(270deg,rgb(216, 164, 68),#a35733); 
    width: 100%;
    z-index: 1000;
    
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}
 
.navbar h1{
    font-size: 30px;
    
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.navbar-brand {
    padding: 10px 20px;
    font-size: 40px;
}
   .tituloprincipal{
    flex: 50%;
    margin-left: 5%;
    text-align: left;

   }
   .tituloprincipal h1 {
    font-size: 30px;
   }

.menu a:hover{
    color: white;
    border-top: 4px solid black;
}

.introdu {
    flex: 10%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    font-size: 19px;
}

.introdu h1{
    font-size: 35px;
    color: black;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; 
    text-align: center; /* Centraliza o conteúdo */
}
/* a tag "vege-txt" é para os textos, editar tamanho, fonte, etc... */
.vege-txt {
    flex: 1;
    margin-bottom: 20px; 
    /* border: 1px solid black; */
    text-align: justify; 
    font-size: 19px;
    margin-left: 3%;
    margin-right: 3%;
}
.vege-txt h2{
    text-align: center;
    font-size: 35px;
    
}

.legenda{
    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
    margin-right: 190px;
    list-style: none;
    list-style-position: inside;
    background-color: rgb(223, 138, 54) ;
    margin-left:40px;   
}

.legenda2{
    margin-left: 1%;
    font-size: 19px;
}

.containerr_2 {
    margin-right: 2px;
    display: flex;
    font-size: 20px;
    margin-left: 2px;   
}

.Text_Fauna {
    text-align: justify;
    flex: 1;
    margin-right: 3%;
    margin-left: 3%;
    font-size: 19px;
}

.Text_Fauna h1 {
    font-size: 35px;
    text-align: center;
}

.Fauna_img2 {
    margin-top: 30px;
}

.text {
   font-size: 19px;
   margin-left: 3%;
   margin-right: 3%;
}

.text h2 {
    color: black;
    text-align: center;
}

.image {
    text-align: center;
}

.image img {
   height: 600px;
   max-width: auto;

}

.cer-pres {    
    margin-left: 5%;
    margin-top: 3%;
    font-size: 20px;
    display: flex;
    margin-right: 5%;
}

.cer-img {
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    width: 95%;
}

.info-img   {
    display: inline-block;
    margin-right:5%;
    font-size: 19px;

}
.info-img2{
    display: inline-block;
    margin-right:3%;
    margin-left: 3%;
    font-size: 19px;
    margin-top: 3%;
}

.texto {
    font-size: 19px;
    margin-left: 3%;
    margin-right: 3%;
 }

footer {
    margin-top: 90px;
    height: 270px;
    background-image: linear-gradient(180deg, rgb(216, 164, 68), #a35733);
    text-align: center;
    border-top: 5px solid white;
}
/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .containerr_2 {
        flex-direction: column;
        
    }

    .containerr_2 .legenda {
        width: 100%;
       
    }
    .legenda{
        border: 1px solid black;
        border-radius: 10px;
        text-align: left;
        margin-right: 190px;
        list-style: none;
        list-style-position: inside;
        background-color: rgb(223, 138, 54) ;
        margin-left:auto;   
    }
}